spring:
  application:
    name: worker-service
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest
    listener:
      simple:
        acknowledge-mode: auto
        concurrency: 1
        max-concurrency: 5
        prefetch: 1

server:
  port: 8082

logging:
  level:
    com.parking.workerservice: INFO
    org.springframework.amqp: DEBUG